<main class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">Lemon Dashboard</h1>
      <a href="/newlemonpost" class="btn btn-primary">Create a New Lemon-Themed Blog Post</a>
    </div>
  </div>
  <br>
  <h1 class="mb-4">Lemon Blog Contributions:</h1>
  {{#each posts}}
    <div class="post-container post mb-3">
      <h2><a href="/lemonpost/{{id}}" class="text-decoration-none text-reset">{{title}}</a></h2>
      <p>Created by: {{user.username}} | Date: {{format_date createdAt}}</p>
      <a href="/editlemonpost/{{id}}" class="btn btn-warning">Edit Lemon-Themed Post</a>
      <button class="btn btn-danger delete-lemon-post" data-lemon-post-id="{{id}}">Delete</button>
    </div>
  {{/each}}
</main>
